<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classroommanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pdfviewer"></activity>
        <activity android:name=".pdfwebview" />
        <activity android:name=".updateadminprofile" />
        <activity android:name=".viewnotes" />
        <activity android:name=".Viewtimetable" />
        <activity android:name=".uploadtimetable" />
        <activity android:name=".teacherdetails" />
        <activity android:name=".changepassword" />
        <activity android:name=".studentdetails" />
        <activity android:name=".FutureScope.viewattendance" />
        <activity android:name=".FutureScope.markattendance" />
        <activity android:name=".addstudent" />
        <activity android:name=".classdetails" />
        <activity android:name=".navadmin" />
        <activity android:name=".navteacher" />
        <activity android:name=".navstudent" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addteacher" />
        <activity android:name=".Category" />
        <activity android:name=".studentlogin" />
        <activity android:name=".teacherlogin" />
        <activity android:name=".forgotpassword" />
        <activity android:name=".adminsignup" />
        <activity android:name=".adminlogin" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>